.mat-form-field,
table {
  width: 100%;
}

td.mat-cell:last-of-type {
  padding: 0;
}

.mat-flat-button {
  margin-left: 10px;
}

.approve-button {
  background-color: #3fb544;
}

.reject-button {
  background-color: #ff0036;
}

.readio-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.radio-margin {
  margin: 0 10px;
}

.radio-label {
  font-weight: 400;
}